section:first-of-type {
  block-size: 100vb;
  inline-size: 100vi;
  display: grid;
  place-items: center;
}

section:first-of-type span {
  display: inline-block;
  font-size: 6.5rem;
}

section:first-of-type span:first-of-type {
  transform-origin: 50% 75%;
  animation: 2.2s infinite 0.6s wave;
}

section:first-of-type span:last-of-type {
  margin-block-start: 20vb;
  animation: 8s fadeIn, 1s infinite bounce;
  cursor: pointer;
}

section:first-of-type h1:first-of-type {
  animation: 3.5s fadeIn;
}

section:first-of-type h1:last-of-type {
  animation: 4.5s fadeIn;
}

section:first-of-type span {
  text-align: center;
}
